@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;

  margin: 0;
}

body {
  background: #f1f5f9;

  font-family: Inter, Arial, sans-serif;
}
.input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  outline: none;
}

.input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 12px;
  border-radius: 12px;
  outline: none;
}

.input:focus {
  border-color: #16a34a;
}
